#!/usr/bin/env bash

set -euo pipefail

# Bat config hash: {{ include "dot_config/bat/config" | sha256sum }}
# Bat theme hash: {{ include "dot_config/bat/themes/Catppuccin Mocha.tmTheme" | sha256sum }}

if command -v bat >/dev/null 2>&1 && [[ -d "${XDG_CONFIG_HOME:-$HOME/.config}/bat/themes" ]]; then
  bat cache --build
fi
