#!/usr/bin/env bash

NVIM_ENV="${XDG_DATA_HOME:-$HOME/.local/share}/nvim/env"

PATH_add "$NVIM_ENV/node/bin"
if [ -d /opt/homebrew/opt/ruby/bin ]; then
  PATH_add /opt/homebrew/opt/ruby/bin
elif [ -d /usr/local/opt/ruby/bin ]; then
  PATH_add /usr/local/opt/ruby/bin
fi
PATH_add "$NVIM_ENV/ruby/bin"
PATH_add "$NVIM_ENV/ruby/gems/bin"
PATH_add "$NVIM_ENV/perl/bin"

export VIRTUAL_ENV="$NVIM_ENV/python/.venv"
PATH_add "$VIRTUAL_ENV/bin"

export GEM_HOME="$NVIM_ENV/ruby/gems"
export GEM_PATH="$NVIM_ENV/ruby/gems"
export PERL5LIB="$NVIM_ENV/perl/lib/perl5${PERL5LIB:+:$PERL5LIB}"

export NVIM_NODE_ENV="$NVIM_ENV/node"
export NVIM_PYTHON_ENV="$NVIM_ENV/python"
export NVIM_RUBY_ENV="$NVIM_ENV/ruby"
export NVIM_PERL_ENV="$NVIM_ENV/perl"
